body{
    background-color: black;
}

h1{
    color: #1F75EC;
}

p{
    color: white;
}

.everything{
    display: flex;
    justify-content: flex-start;
}

img{
    margin-right: 20px;
}

.all{
    border: 1px #1F75EC;
}

footer{
    color: #685575;
}