img{
    width: 100%;
    height: auto;
}

body{
    background-color: #82D1EF;
}

.fractures{
    width: 450px;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
    /*display: none;*/
    /*visibility: hidden;*/
    visibility: hidden;
}

.sprains-strains{

}

.arthritis{

}