*{
    margin: 0;
}

.all{
    background-color: #12171e;
    height: 100vh;
    top: 0;
    width: 200px;
    
}



.notAll{
    width:30px;
    background-color: #12171e;
    height: 100vh;
    padding: 2px 0px;
    max-height: 100%;
}

.notAll span{
    visibility: hidden;
}

.notAll span:hover{
    visibility: visible;
}



ul{
    margin: 5px;
    padding-left: 0;
}


i{
    color: white;
    
}

.top span{
    color: white;
    
}

.top i{
    color: white;
    margin: 5px
}

li{
    list-style-type: none;
}

li .tooltip{
    opacity: 0;
}

li:hover .tooltip{
    opacity: 1;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
}

