.section1{
    background-color: #C9D3D2;
}

h1{
    color: black;
    font-weight: bold;
}

.everything{
    display: flex;
    justify-content: space-between;
}

img{
    width: 400px;
    height: 350px;
    mix-blend-mode: multiply;
    margin-left: 60px;
}